/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=VT323');

/* Main Navigation Bar */

.navbar{
  font-family: "Poiret One", cursive;
  background-color: #34495E;
  overflow: hidden;
}

.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #1A5276;
}

.topnav a.active {
  background-color: #117864;
}

.navbar-right {
  float: right !important;
}

/* Game Navigation */

.subnav{
  font-family: "Roboto", sans-serif;
  background-color: #D6DBDF;
  overflow: hidden;
  margin-bottom: 10px;
}

.subnav a{
  float: left;
  display: block;
  color: #1C2833;
  text-align: center;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 14px;
}

.subnav a:hover {
  background-color: #D6EAF8;
}

.subnav a.active {
  background-color: #D1F2EB;
}

/* Resources Panel */

.resources {
  border-radius: 25px;
  background: #EBF5FB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
  width: 370px;
  height: 500px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

/* Main Area */

.mainviewer {
  border-radius: 25px;
  background: #EBF5FB;
  overflow: hidden;
  display: block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 500px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

/* Actions */

.actionpanel {
  border-radius: 25px;
  background: #EBF5FB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  height: 100px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-right: 10px;
}

/* Log Box */

.logbox {
  border-radius: 25px;
  background: #EBF5FB;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 300px;
  height: 630px;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
}

.logtext {
  overflow-y: scroll;
  width: 295px;
  height: 570px;
  float: left;
  font-family: 'VT323', monospace;
  font-size: 16px;
}

/* Generic Div */

.generic {
  float: left;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

/* Person Div */

.person {
  float: left;
  border-radius: 25px;
  background: #EBF5FB;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 10px;
  height: 200px;
  width: 180px;
}

/* Buttons! */

.actionButton {
  border-radius: 3px;
  background-color: #28B463;
  border: none;
  color: #f2f2f2;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.actionButton:hover {
  background-color: #82E0AA;
}

.counterButton {
  border-radius: 3px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.counterButton:hover {
  background-color: #B2BABB;
}

/* Text Decorations */

.flavortext {
  font-style: italic;
  font-family: "Poiret One", cursive;
  font-size: 18px;
}

/* Tree Diagram */

.notResearched {
  border-radius: 3px;
  background-color: #D6EAF8;
  border: 3px solid #3498DB;
  color: #3498DB;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.researched {
  border-radius: 3px;
  background-color: #3498DB;
  border: 3px solid #D6EAF8;
  color: #D6EAF8;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tree ul {
  position: relative;
  list-style-type: none;
}

.tree li {
  padding-top: 20px;
  position: relative;
  list-style-type: none;
}